/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

/* Header Styles */
header {
    background-color: #fff;
    padding: 15px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 100;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo a {
    display: flex;
    align-items: center;
}

#logo-img {
    width: 100px;
    height: 56px;
    margin-right: 0px;
}
#brand-name-img {
    width: 250px;
    height: 120px;
    margin-right: 10px;
}

.brand-name {
    display: flex;
    flex-direction: column;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 50px 0 20px;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    margin-bottom: 30px;
}

.footer-logo img {
    width: 100px;
    margin-bottom: 15px;
}

.footer-logo p {
    color: #ddd;
    font-size: 14px;
}

.footer-links h4, .footer-contact h4, .footer-newsletter
{
    color: #fff;
    margin-bottom: 15px;
}

/* check out styles */
.checkout-section {
    padding: 50px 0;     
}
.checkout-header {
    margin-top: 20px;
    margin-bottom: 20px;
}
.checkout-container {
    display: flex;
    gap: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    padding: 10px;
    background: #fff;
}

.checkout-form {
    flex: 2;
    background-color: #fff;
    padding: 30px
}

.checkout-container label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}
  
.checkout-container input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.error-msg {
    color: red;
    text-align: center;
    margin-top: 20px;
}
.place-order-btn{
    background-color: #FAAF5E;    
    color: #fff;
    padding: 12px 0;
    width: 30%;
    font-size: 16px;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 10px;
    transition: background-color 0.3s;
}    

.place-order-btn:hover {
    background-color: #f68c1a;
}

.place-order-btn.disabled {
    background-color: #ccc;
    cursor: not-allowed;
}